* {
  margin:0;
  padding:0;
}


main {
  background-image: url('./8830758_505.jpg');
  height: 600px;
  background-size: cover;
}

h2 {
    text-decoration:underline;
    color:brown;
  }

article {
  padding-top: 40px;
  padding-bottom: 40px;
}
