* {
  margin:0;
  padding:0;
}

main {
  background-image: url('./8830758_505.jpg');
  height: 600px;
  background-size: cover;
}

h2 {
  color:black;
  font-size: 2rem;
  text-align: center;
}

.art {
    text-decoration:underline;
    color:brown;
    text-align:inherit;
  }

article {
  padding-top: 20px;
  padding-bottom: 20px;
}
