section {
    background-color: rgb(180, 181, 181);
    height: 600px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
    color:black;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.experience {
    padding-top: 30px;
}

.diplome {
    padding-top: 50px;
}